{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 pt-4">
    <h2 class = "py-3 text-primary">Order Summary</h2>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item Title</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Item Price</th>
            </tr>
            </thead>
            <tbody>
            {% for order_item in object.items.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ order_item.item.title }}</td>
                    <td>{{ order_item.item.price }}</td>
                    <td>
                        <a href="{% url 'home:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                        {{ order_item.quantity }}
                        <a href="{{ order_item.item.get_add_to_cart_url }}"><i class="fas fa-plus ml-2"></i></a>
                    </td>
                    <td class = 'd-flex align-items-center justify-content-between'>
                        <div>
                            {% if order_item.item.discount_price %}
                                {{ order_item.get_total_discount_price }}
                                <span class = 'badge badge-light ml-2'> (Saving ${{ order_item.get_amount_saved }}) </span>

                            {% else %}
                                {{ order_item.get_total_item_price }}
                            {% endif %}
                            </div>
                        <a href="{{ order_item.item.get_remove_from_cart_url }}" class = 'btn btn-sm rounded btn-outline-danger'>
                            <i class="fas fa-trash" ></i>
                        </a>
                    </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="5" class = 'badge badge-dark'>Your cart is Empty !
                    <a href ="{% url 'home:main_home' %}" class = 'btn btn-primary font-weight-bold'>
                        <- Continue shopping
                    </a>
                </td>
            </tr>


            {% endfor %}
            {% if object.get_total %}
            <tr>
                <td colspan="4" class = 'font-weight-bold'> Order Total</td>
                <td colspan="5" class = 'font-weight-bold'>$ {{ object.get_total }}</td>
            </tr>
            <tr>
                <td colspan="5" class = 'text-right'>

                    <a href ="{% url 'home:checkout' %}" class = 'btn btn-primary font-weight-bold'>
                    <- Continue shopping
                    </a>
                    <a href ="{% url 'home:checkout' %}" class = 'btn btn-danger font-weight-bold'>
                    Proceed To Checkout     ->
                    </a>
                </td>
            </tr>
            {% endif %}

            </tbody>
        </table>
    </div>

</div>



{% endblock %}